{%extends 'main.html'%}
{% include 'head.html' %}
{%block content%}
<div class='col-md-10 col-md-offset-1'>

<center class='text-info h2'>黑客是一群什么样的人？</center>
	   
<p class='text-muted lead'>	黑客精神指的就是善于独立思考、喜欢自由探索的一种思维方式。有一位哲人曾说过，“精神的最高境界是自由”，黑客精神正是这句话的生动写照。看看黑客是怎样看待、思考并解决问题的，我们就能更直观、更深刻地理解黑客精神的蕴涵。

<p class='text-muted lead'>	首先，黑客对新鲜事物很好奇，这一点和小孩子有点儿相似。实际上，有很多酿成重大后果的黑客事件都是十几岁的孩子干出来的。想必大家还记得黑客侵入美国白宫、国防部、空军网站的事，最后美国联邦调查局追查出来的“凶手”竟是一名16岁的以色列少年；二月黑客事件所发现的嫌疑犯是一名20岁的德国青年。连世界级的计算机安全专家都纳闷：这些“小孩子”到底是怎样进入那些层层设防、固若金汤的信息系统的？答案只有一个：强烈的好奇心。黑客对各种新出现的事物特别好奇，他们到处下载、使用、测评新软件，乐此不疲，直到把它们都搞得明明白白；发现某个网站防守严密，好奇心便驱使他们进去看看。而一般人，习惯了各种各样的纷杂琐事，对新鲜事物的好奇心都已经逐渐消退，看见什么都见怪不怪了。黑客与一般人的好奇心是明显不同的。《苏菲的世界》中有这样一句话：“要成为一个优秀的哲学家，只有一个条件：要有好奇心……”要成为一名黑客，第一个条件也是：要有好奇心。

<p class='text-muted lead'>
其次，黑客对那些能够充分调动大脑思考的挑战性问题都很感兴趣。黑客并不一定是高学历的人，有很多甚至连高中都没有毕业，但他们很喜欢开动脑筋，去思考那些其他人认为太麻烦或过于复杂的问题。他们在学校时成绩往往并不出色，但碰到一些复杂的非常规性难题时常常能深入地思考，发掘出最简单的解决办法。遇到什么困难，他们一般不会去别人那里寻求帮助，而是独立思考、独立解决。所以，黑客在碰到棘手的问题时，不认为这太困难太无聊，相反，他们觉得这种挑战很刺激，很爽。这就是为什么黑客能攻入别人的系统而一般人却无计可施的主要原因。
<p class='text-muted lead'>
第三，黑客总是以怀疑的眼光去看待一切问题，他们不会轻易相信某种观点或论调。黑客往往都有鲜明的个性特征，甚至给人狂放不羁的印象。想让他们信服你的论点可不是件容易的事，他们老爱问“为什么”，或用“是吗？”表示怀疑，甚至还用“我不这样认为……”来表达自己的看法。读书的时候，他们总是以怀疑的眼光去看待作者的观点和每一句话。任何东西经过他们脑筋的时候都会遭到盘问和质疑。所以，在很多人眼中，黑客是社会和传统思维方式的叛逆者。
<p class='text-muted lead'>
第四，黑客不满足于仅仅知道“是什么”，他们渴望明白“为什么”，以及“我能不能做到”。黑客有一种打破砂锅问到底的黏糊劲。当老师告诉他水往低处流和“把一个砖头抛往上空它必然落下”时，他知道这是常识，却非要知道为什么会这样；看到别人打游戏过了一关又一关而他玩不过去的时候，他就一个劲地分析自己为什么玩不过去，然后再玩，直到玩过去，比对手玩得还好……黑客对任何事都要搞得清清楚楚、明明白白，他们的表达能力也相当强，写起文章来条理清晰，言简意赅，幽默风趣，文风生动优美。黑客不是知难而退的人，不但不退，而且明知山有虎，偏向虎山行。
<p class='text-muted lead'>
第五，黑客有追求自由的天性，他们总是试图打破束缚自己的一切羁绊和枷锁。黑客最不能忍受的就是条条框框的限制，他们憎恨独裁和专制，向往自由的天空，开放的世界，他们自称是为自由而战的斗士。他们认为计算机应该属于每一个人，软件的代码也应该完全公开。对于软件公司把程序做成产品出售并且不公开源代码的做法，在黑客看来是非常卑鄙和恶劣的。黑客鄙视一切商业活动，他们认为自己的使命是追求自由以及让全人类获得自由，而不是追求权力和金钱。他们把自己编写的应用程序放到网上，让人免费下载使用，并根据用户反馈信息不断地改进和完善自己的软件；有的黑客还把某些厂商的加密软件破解，公布于众。有很多优秀的自由软件都是黑客辛勤和智慧的结晶，如APACHE、SENDMAIL等。互联网和LINUX的盛行，就是黑客追求自由和开放的结果。看来，从某种程度上讲，黑客还是咱们普通计算机用户的“解放军”。

<p class='text-muted lead'>
第六，黑客喜欢动脑筋，但更喜欢动手。黑客可不是动口不动手的谦谦君子，他们多是手痒症患者，看到什么东西都想动手摸摸。不过别怕，他们可不是毛手毛脚的猴子，一般器械、工具、软件他们都会用，不会随便把什么东西给你弄坏，要是整坏了，他肯定会不顾吃饭睡觉给你修的。黑客不喜欢纸上谈兵，他们动手能力很强，像维修计算机、编写调试程序都是他们的拿手的绝活儿。
</div>
{%end%}

