{%extends 'main.html'%}
{% include 'head.html' %}


{%block content%}
<div class='col-md-12'>
	<center class='text-info h2 well'>{{username}}的专栏</center>
</div>
<div class='col-md-3'>
	<a href='/user/{{user}}' target='_blank'><img src='/{{headpic}}' class='img-rounded' height='200' width='200'></a>
	<p class='text-info h3'>{{user}}</p>
	<table class='table'>
		<tr>
			<th class='text-muted h4'>城市：</th>
			<th class='text-info h4'>{{city}}</th>
		</tr>
		<tr>
			<th class='text-muted h4'>介绍：</th>
			<th class='text-info h4'>{{intro}}</th>
		</tr>
		<tr>
			<th class='text-muted h4'>积分：</th>
			<th class='text-info h4'>{{score}}</th>
		</tr>
		<tr>
			<th class='text-muted h4'>排名：</th>
			<th class='text-info h4'>{{rank}}</th>
		</tr>
	</table>
	{%if cookieName==user%}
	<a class='btn btn-success' href='/post'>发表新文章</a>
	<a class='btn btn-warning' href='/setting/info'>修改信息</a>
	{%elif cookieName not in fans%}
	<form action='/follow/{{user}}' method='post'>
		<button type='submit' class='btn btn-info'>关注</button>
	</form>
	{%else%}
		<button type='button' class='btn btn-default' disabled>已关注</button>
	{%end%}
</div>

<div class='col-md-8'>
<br/>
{%if blogCategory=='new'%}<button class='btn btn-success'>原创</button>{%elif blogCategory=='reprint'%}<button class='btn btn-default'>转载</button>{%else%}<button class='btn btn-info'>提问</button>{%end%}&nbsp;&nbsp;<label class='text-danger h3'>{{blogTitle}}</label>
<br/>
<div class='col-md-offset-7'>
{%if cookieName==user%}
<button onclick="location.href='/editBlog/{{idvalue}}'" class='btn btn-link'><strong class='text-info h4'>编辑</strong></button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick="onClickDel('{{idvalue}}')" class='btn btn-link'><strong class='text-muted h5'>删除</strong></button>
{%end%}
&nbsp;&nbsp;&nbsp;&nbsp;<label class='text-muted h6'>{{blogTime}}</label>
</div>
<br/>
<label class='h5 lead'>{%raw blogContent%}</label>

<br/>
	{%if cookieName not in ups%}
	<form action='/up' method='post'>
		<button type='submit' class='btn btn-success'>赞</button>
	{%else%}
	<button type='button' class='btn btn-default' disabled>已赞</button>
	{%end%}
	<label class='text-info h5'>已有{{upsN}}人赞过</label>
	</form>

<ol>
	{%for i in comments%}
	<li><a href='/user/{{i[2]}}' class='text-info h4'>{{i[2]}}</a>: <label class=' h5'>{{i[3]}}</label>&nbsp;&nbsp;<label class='text-muted h6'>{{i[4]}}</label></li>
	{%end%}
</ol>


	<form action='/comment' method='post' class='form-inline'>
		<div class='form-group'>
			<label class='sr-only'>评论</label>
			<input type='text' name='comment' class='form-control' placeholder='请输入评论'></input>
		</div>
		<button type='submit' class='btn btn-default'>评论</button>
	</form>
</div>
<script>
	function onClickDel(idvalue)
	{
		var res=confirm("确定删除本文？");
		if(res)
		{
			location.href='/delBlog/'+idvalue;
		}
	}
</script>
{%end%}
