{%extends 'main.html'%}
{%include 'head.html' %}

{%block content%}
<!--<p class='text-success h3'>测试版本，每天凌晨4:00清水，enjoy it~~:-)</p>-->
<div class='col-md-8' id='chat'>
</div>

<div class='col-md-4'>
<form action='/chatting/1' method='post' class='well form-search'>
	<label class='sr-only'>发表新贴</label><input type='text' name='topic' placeholder='发表新贴...'/>
	<button type='submit' class='btn btn-warning'>发送</button>
</form>
</div>
<script>
	function loadChat()
	{
		var xmlhttp;
		xmlhttp=new XMLHttpRequest();
		xmlhttp.onreadystatechange=function()
		{
			if(xmlhttp.readyState==4&&xmlhttp.status==200)
			{
					document.getElementById('chat').innerHTML=xmlhttp.responseText;
			}
		}
		xmlhttp.open('GET','/chat/{{num}}',true);
		xmlhttp.send();
	}
	function update()
	{
		loadChat();
		window.setTimeout('update()',10000);
	}
	update();
</script>
{%end%}
