{%extends 'main.html'%}
{%include 'head.html'%}

{%block content%}
<div class='col-md-1'>
</div>
<div class='col-md-6 secondDiv'>
<table class='table'>
	<tr>
		<th>排名</th>
		<th>用户名</th>
		<th>积分</th>
	</tr>
	{%for i in range(20*int(page)-20,20*int(page))%}
	{%if i<userNum%}
	<tr>
		<th>
			{{i+1}}
		</th>
		<th>
			<a href='/user/{{users[i][0]}}' class='text-info h4'>{{users[i][0]}}</a>
		</th>
		<th>
			{{users[i][1]}}
		</th>
</tr>
	{%end%}
	{%end%}
	<br/>
</table>
	<ul class='pagination'>
		{%for i in range(1,int(userNum/21)+2)%}
		<li {%if int(page)==i%}class='active'{%end%}><a href='/member/{{i}}'>{{i}}</a></li>
		{%end%}
	</ul>
</div>
<div class='col-md-5'>
	<p class='h3 text-info'>积分说明</p>
	<ol>
		<li>新发表一篇文章+20分</li>
		<li>发表的文章被点一次赞+2分，上不封顶</li>
		<li>新发表一个提问+5分</li>
		<li>发表的提问被点一次赞+2分，上不封顶</li>
	</ol>
</div>
{%end%}
