{%extends 'main.html'%}
{%include 'head.html'%}


{%block content%}
<div class='col-md-1'>
</div>
<div class='col-md-5'>
	<p class='text-muted h4'>评论</p>
	<table class='table'>
		{%for i in commentMsg[20*int(commentPage)-20:20*int(commentPage)]%}
		<tr>
			<th><a href='/user/{{i[1]}}' class='text-danger h4'>{{i[1]}}</a><label class='h4'>评论了</label><a href='/blog/{{i[0]}}' class='text-info h4'>{{i[2]}}</a></th>
		</tr>
		{%end%}
	</table>
	<ul class='pagination'>
		{%for i in range(1,int(commentLen/21)+2)%}
		<li {%if int(commentPage)==i%}class='active'{%end%}><a href='/message/{{i}}_{{upPage}}'>{{i}}</a></li>
		{%end%}
	</ul>
</div>

<div class='col-md-5'>
	<p class='text-muted h4'>点赞</p>
	<table class='table'>
		{%for i in upMsg[20*int(upPage)-20:20*int(upPage)]%}
		<tr>
			<th><a href='/user/{{i[1]}}' class='text-danger h4'>{{i[1]}}</a><label class='h4'>赞了</label><a href='/blog/{{i[0]}}' class='text-info h4'>{{i[2]}}</a></th>
		</tr>
		{%end%}
	</table>
	<ul class='pagination'>
		{%for i in range(1,int(upLen/21)+2)%}
		<li {%if int(upPage)==i%}class='active'{%end%}><a href='/member/{{commentPage}}_{{i}}'>{{i}}</a></li>
		{%end%}
	</ul>
</div>

{%end%}
